div{
    text-align: center;
    padding-top: 100px;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.country{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}